<li><span><%= facet.to_s.gsub('_', ' ').capitalize %></span>
<ul>
	<% constraints.each do |name, count| %>
	<li>
		<% query_string = {} %>
		<% query_string[facet] = name %>
		<%= link_to name,  { controller: "fred_dashboard", query_add: query_string}, class: "facet_select" %>
		<span class="count"><%= count %></span>
	</li>
	<% end %>
</ul>
</li>