<li><span><%= facet.to_s.gsub('_', ' ').capitalize %></span>
<ul>
	<% constraints.each do |name, count| %>
	<li>
		<% new_query_term = {facet => name} %>
		<% new_query =  add_to_query(new_query_term) %>
		<%= link_to name,  { controller: "fred_dashboard", query: new_query.to_query }, class: "facet_select" %>
		<span class="count"><%= count %></span>
	</li>
	<% end %>
</ul>
</li>