<li><span><%= facet.to_s.gsub('_', ' ').capitalize %></span>
	<ul>
		<% constraints.each do |name, count| %>
		<li>

			<%= link_to name, dash_path(profile="#{facet.to_s}:#{name}") %>
			<span class="count"><%= count %></span>
		</li>
		<% end %>
	</ul>
</li>