<!-- <%= @response %> -->
<!-- <%= @response['facet_counts']['facet_fields'] %> -->
<!-- facet_counts"=>{"facet_queries"=>{}, "facet_fields" -->
<% @page_title = application_name + " Review Submissions" %>
<h2 class="heading1">Review dashboard</h2>
<div class="col col1of6">
	<aside class="filters">
		<ul>
			<li>ds sdfd d</li>
			<li>ds sdfd d</li>
			<li>ds sdfd d</li>
			<li>ds sdfd d</li>
		</ul>
	</aside>
</div>
<div class="col col5of6">
	<article class="review-article">
		<div class="content">
			<p style="background-color: blue"> hdsksdhf kjdfhgkjfdgh</p>
             <aside class="info"></aside>			
		</div>
		<div class="buttons"></div>
	</article>
	<article class="review-article">
		<div class="content">
			<p style="background-color: green"> hdsksdhf kjdfhgkjfdgh</p>
             <aside class="info"></aside>			
		</div>
		<div class="buttons"></div>
	</article>
	<article class="review-article">
		<div class="content">
			<p style="background-color: yellow"> hdsksdhf kjdfhgkjfdgh</p>
             <aside class="info"></aside>			
		</div>
		<div class="buttons"></div>
	</article>		
</div>