<nav class="form-nav">
  <div class="form-nav-prev">
    <a href="#" class="button button-back light-blue" data-action="prev_step">Back</a>
  </div>
    <div class="form-nav-next">
      <div class="float-left">
        <strong><%= main_text %> </strong> - <%= sub_text %>
      </div>
      <a href="#" class="button button-arrow light-blue float-right" data-action="next_step">Next step</a>
    </div>
</nav>