<% if can? :review, :all %>
<div class="content-box padding-0">
	<a href="<%= reviewer_dashboard_index_path %>" class="full-content-link">
		<img src="/assets/ora/icons/review.svg"/>
		<span class="v-center">Go to Reviewer dashboard</span>
	</a>
	</br>	
</div>
<div class="content-box padding-0">
	<a href="/dash" class="full-content-link">
		<i class="fa fa-cog fa-3x fa-spin"></i>
		<span class="v-center">New Reviewer dashboard</span>
	</a>
	</br>	
</div>
	
<% end %>