/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require ora
 *= require jquery.ui.datepicker
 */


 @import "font-awesome-sprockets";
 @import "font-awesome";


// styles for alert/info paragraphs
 .alert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:0px 10px 5px 56px;
    margin:10px;
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.error {
    background:#ffecec no-repeat 10px 50%;
    border:1px solid #f5aca6;
}
.success {
    background:#e9ffd9 no-repeat 10px 50%;
    border:1px solid #a6ca8a;
}
.warning {
    background:#fff8c4 no-repeat 10px 50%;
    border:1px solid #f2c779;
}
.notice {
    background:#e3f7fc no-repeat 10px 40%;
    padding:10px 10px 5px 46px;
    border:1px solid #8ed9f6;
    border-radius:10px;
}
